.navbar {
    display: flex;
    gap: 12px;
    background-color: black;
    padding: 15px;
}

.nav-item{
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding: 10px;
}

.nav-item:hover {
    background-color: white;
    color: black;
    font-size: 2em;
    text-decoration: none;
    border-radius: 5px;
}