.about-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-card {
  width: 100%;
  max-width: 700px;
  background: #fff;
  padding: 35px 30px;
  border-radius: 12px;
  /* box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15); */
}

.about-card h2 {
  text-align: center;
  margin-bottom: 18px;
  color: #333;
}

.about-intro {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

.about-section {
  margin-bottom: 22px;
}

.about-section h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: black;
}

.about-section p {
  font-size: 14.5px;
  color: #555;
  line-height: 1.6;
}

.about-section ul {
  margin: 10px 0 0 18px;
  padding: 0;
}

.about-section li {
  margin-bottom: 6px;
  font-size: 14.5px;
  color: #444;
}
